body{

    font-family: Arial;
    background:#f0f8ff;

    text-align:center;

}


.game{

    width:90%;

    max-width:400px;

    margin:30px auto;

    background:white;

    padding:20px;

    border-radius:20px;

    box-sizing:border-box;

}


h1{

    color:#ff9800;

}


button{

    width:300px;

    padding:20px;

    margin:10px;

    font-size:20px;

    border-radius:15px;

    border:none;

    cursor:pointer;

}


button:hover{

    transform:scale(1.05);

}


#question{

    font-size:40px;

    margin:30px;

}


#answers button{

    background:#4caf50;

    color:white;

}


#result{

    font-size:25px;

    margin:20px;

}


#picture{

    font-size:50px;

    margin-top:20px;

}


#answers button{

    width:120px;

    height:70px;

    font-size:30px;

    margin:8px;

    background:#4caf50;

    color:white;

}


#result{

    min-height:40px;

    font-weight:bold;

}


#finish{

    font-size:25px;

}


#finalStar{

    font-size:50px;

    margin:20px;

}


#finish button{

    background:#ff9800;

    color:white;

}

/* Mobile */

@media screen and (max-width:600px){


    h1{

        font-size:28px;

    }


    h2{

        font-size:22px;

    }


    button{

        width:90%;

        padding:15px;

        font-size:18px;

    }


    #question{

        font-size:32px;

        margin:20px;

    }


    #answers button{

        width:40%;

        height:60px;

        font-size:25px;

        margin:5px;

    }


    #picture{

        font-size:35px;

    }


}
